#header{
    font-family: 'Raleway';
}
body{
    padding: 30px;
    padding-top: 0px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.wrapper img{
    width: 100%;
}